{% extends 'base.html' %}
{% block title %}
    <title>Vidéal</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style_login.css">
    <link rel="stylesheet" href="/github_style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
{% endblock %}
{% block content %}
    <form action="#" method="post" class="form">
        <label for="usrname" class="usernametext">Username:</label><br>
        <input type="text" id="usrname" name="usrname" class="githubboxinput"><br>
        <label for="psswrd" class="passwordtext">Password:</label><br>
        <input type="text" id="psswrd" name="psswrd" class="githubboxinput"><br>
        <input type="submit" value="Register" class="githubbutton">
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <script src="alert.js"></script>
{% endblock %}

