
.btn {
  appearance: none;
  /* background-color: #FAFBFC;#FAFBFC */
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  /* transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1); */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;

  background: linear-gradient(90deg, #04ff00 0%, #04ff00 50%, #FAFBFC 50%, #FAFBFC 100%);
  background-position: 102% 0%;
  background-repeat:no-repeat; 
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}

.btn.green0{
  background: linear-gradient(90deg, #04ff00 0%, #04ff00 50%, #FAFBFC 50%, #FAFBFC 100%);
  background-position: 102% 0%;
  background-repeat:no-repeat; 
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}
.btn.red0{
  background: linear-gradient(90deg, #ff3300 0%, #ff3300 50%, #FAFBFC 50%, #FAFBFC 100%);
  background-position: 102% 0%;
  background-repeat:no-repeat; 
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}
.btn.green50{
  background: linear-gradient(90deg, #04ff00 0%, #04ff00 50%, #FAFBFC 50%, #FAFBFC 100%);
  background-position: 50% 0%;
  background-repeat:no-repeat; 
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}
.btn.red50{
  background: linear-gradient(90deg, #ff3300 0%, #ff3300 50%, #FAFBFC 50%, #FAFBFC 100%);
  background-position: 50% 0%;
  background-repeat:no-repeat; 
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}
.btn.green100{
  background: linear-gradient(90deg, #04ff00 0%, #04ff00 50%, #FAFBFC 50%, #FAFBFC 100%);
  background-position: 0% 0%;
  background-repeat:no-repeat; 
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}
.btn.red100{
  background: linear-gradient(90deg, #ff3300 0%, #ff3300 50%, #FAFBFC 50%, #FAFBFC 100%);
  background-position: 0% 0%;
  background-repeat:no-repeat; 
  background-size: 200% 100%;
  transition: background-position 0.5s ease;
}


.btn:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  /* transition-duration: 0.1s; */
}

.btn:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn:focus {
  outline: 1px transparent;
}

.btn:before {
  display: none;
}

.btn:-webkit-details-marker {
  display: none;
}

.btn.loading {
  /* background: linear-gradient(90deg, #04ff00 0%, #04ff00 50%, #FAFBFC 50%, #FAFBFC 100%); */
  background-position: 50% 0%;
  /* background-repeat:no-repeat;  */
  /* background-size: 200% 100%;
  transition: background-position 0.5s ease; */
  /* animation: loadingBar 0.5s ease-in-out; */
  /* background: #FAFBFC; */
}



.pfpwatch{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.subtitle {
    font-size: 20px;
    color: #666;
    text-decoration: none;
}



/* Comments */

#comments > div {
    display: flex; /* Active le mode flexbox */
    align-items: flex-start; /* Aligne les éléments en haut */
    margin-bottom: 15px; /* Espace entre chaque commentaire */
    margin-top: 15px;
}

.authorpfp {
    margin-right: 12px; /* Espace entre l'image et le texte */
}

.authorpfp img {
    width: 40px; /* Taille de l'image de profil */
    height: 40px;
    border-radius: 50%; /* Pour un style rond comme YouTube */
    object-fit: cover; /* Pour que l'image remplisse bien le cercle */
}

.comment-text {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
}

.commentauthor {
    font-weight: bold; /* Nom de l'auteur en gras */
    margin-bottom: 4px; /* Espace entre le nom et le contenu */
}

.commentcontent {
    flex: 1; /* Prend tout l'espace restant */
    word-break: break-word; /* Pour éviter les débordements */
}

.commentdate {
    color: #999; /* Gris clair */
    font-weight: normal; /* Pas en gras */
    margin-left: 8px; /* Espace entre le nom et la date */
    font-size: 0.9em; /* Légèrement plus petit que le nom */
}