{% extends 'base.html' %}
{% block title %}
    <title>Vidéal</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style_visit_channel.css">
    <link rel="stylesheet" href="/github_style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
{% endblock %}
{% block content %}

    <div class="channelbar">
        <h1>{{name}}</h1>
        <img class="pfpvisit" src="/pfp_of/{{name}}" alt="${{name}} pfp">
        {% if own_profile %}
        <button onclick="window.location.href='/logout';" class="githubbutton">Log out</button>
        <button onclick="window.location.href='/upload_pfp';" class="githubbutton">Update profile picture (png only)</button>
        <button onclick="window.location.href='/update_channel';" class="githubbutton">Update all video references</button>
        {% endif %}
        <hr/>
    </div>
    
    <main id="gridcontent" class="gridcontent"></main>

    <script type="text/javascript">
            const channel_name = '{{name}}';
            {% if own_profile %}
            const own_profile = true;
            {% endif %}
         </script>
    <script src="/script.js"></script>
{% endblock %}

