{% extends 'base.html' %}
{% block title %}
    <title>Vidéal</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style_visit_channel.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
{% endblock %}
{% block content %}

    <div class="channelbar">
        <h1>{{name}}</h1>
        {% if own_profile %}
        <button onclick="window.location.href='/logout';" class="logoutbutton">Log out</button>
        {% endif %}
        <hr/>
    </div>
    
    <main id="gridcontent" class="gridcontent"></main>

    <script type="text/javascript">
            const channel_name = '{{name}}'
         </script>
    <script src="/script.js"></script>
{% endblock %}

