{% extends 'base.html' %}
{% block title %}
    <title>Vidéal</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style_watch.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
{% endblock %}
{% block content %}
    <main id="contentwatch" class="contentwatch">

        <div class="videopanel">
            <video id="video" controls autoplay>
            </video>
            <div class="info">
                <div><a id="title" class="title" href="/watch.html">Titre de la vidéo exemple #000</a></div>
                <div>
                    <a href="/visit_channel/{{name}}"> <img class="pfpwatch" src="/pfp_of/{{name}}" alt="${{name}} pfp"></a>
                    <a id="sub" class="subtitle" href="/watch.html">{{name}} • {{nb_views}} vues • 000 jours</a>
                    <div class="actions">
                        <button id="btn-like" class="btn {{green_state}}" aria-pressed="false">
                            Like <span id="like-count">{{nb_likes}}</span>
                        </button>
                        <button id="btn-dislike" class="btn {{red_state}}" aria-pressed="false">
                            Dislike <span id="dislike-count">{{nb_dislikes}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div id="description">Description</div>
            <div id="comments">Commentaires</div>
        </div>

        <div id="gridcontent" class="gridcontent">
            
        </div>
        

    </main>
    <script type="text/javascript">
            const videoId = '{{videoId}}';
            const hostURLSource = '{{hostURL}}';
         </script>
    <script src="/video_source.js"></script>
    <script src="/script.js"></script>
    <script src="/watch_reaction.js"></script>
{% endblock %}
