{% extends 'base.html' %}
{% block title %}
    <title>Vidéal</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
{% endblock %}
{% block content %}
    <main id="contentwatch" class="contentwatch">

        <div class="videopanel">
            <video id="video" controls autoplay>
            </video>
            <a class="avatar" aria-hidden="true" href="/watch.html"></a>
            <div class="info">
                <div><a id="title" class="title" href="/watch.html">Titre de la vidéo exemple #000</a></div>
                <div><a id="sub" class="sub" href="/watch.html">Chaîne • 000k vues • 000 jours</a> Boutton Like/Dislike</div>
            </div>
            <div id="description">Description</div>
            <div id="comments">Commentaires</div>
        </div>

        <div id="gridcontent" class="gridcontent">
            
        </div>
        

    </main>
    <script type="text/javascript">
            const videoId = '{{videoId}}'
         </script>
    <script src="/video_source.js"></script>
    <script src="/script.js"></script>
{% endblock %}
