/* button-4 : https://getcssscan.com/css-buttons-examples */
.githubbutton {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.githubbutton:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.githubbutton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.githubbutton:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.githubbutton:focus {
  outline: 1px transparent;
}

.githubbutton:before {
  display: none;
}

.githubbutton:-webkit-details-marker {
  display: none;
}

.githubbutton.loading {
  background: linear-gradient(currentColor 0 0) 0 100%/0% 100% no-repeat;
  animation: l2 3s cubic-bezier(0.05, 0.9, 0.1, 1);
}
@keyframes l2 {
  0% { background-size: 0% 100%; }
  90% { background-size: 95% 100%; }
  100% { background-size: 95% 100%; }
}

/* 'GitHub input' from https://copy-paste-css.com/form-input-text */
.githubboxinput{
padding: 5px 12px;
font-size: 14px;
line-height: 20px;
color: #24292e;
vertical-align: middle;
background-color: #ffffff;
background-repeat: no-repeat;
background-position: right 8px center;
border: 1px solid #e1e4e8;
border-radius: 6px;
outline: none;
box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
margin-bottom: 1%;
}
.githubboxinput:focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}




/* Other Buttons */

.imgbuttonicon{
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 7px;
}
.imgbuttonicon:hover{
    background-color: #c3c3c3;
}


.hidetextdecoration {
  text-decoration: none;
}
.forceblackcolor {
  color: black;
}