<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock%}
</head>
<body style="margin: 0;">
    <div class="topbar" id="topbar">
        <a class="maintitle" href="/">Vidéal</a>
        <input type="text" class="searchbar" id="searchbar" name="searchbar" placeholder="Search - WIP"/>
        {% if connected %}
        <a class="notif" href="/followed"><img src="/images/bell.svg" class="notiflogo" alt="Notifications"></a>
        {% endif %}
        <a class="user" href="/login"><img src="/pfp" class="userlogo" alt="Paramètres"></a>
        <hr/>
    </div>
    
    <div class="sidebar">

    </div>
    {% block content %}{% endblock%}

</body>
</html>