
{% extends 'html/base.html' %}
{% block title %}
    <title>Upload new Profile picture</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_watch.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
{% endblock %}
{% block content %}
<h1>Upload new Profile picture (only png accepted, max size : 16 megabytes)</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
            {% for message in messages %}
                <span>{{ message }}</span>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
{% endblock %}